<button mat-raised-button>Hello World</button>
<div class="mat-display-1">Amazing grace</div>
<div class="mat-display-2">Amazing grace</div>
<div class="mat-display-3">Amazing grace</div>

<div class="mat-headline">Amazing</div>
<div class="mat-title">Amazing</div>
<div class="mat-subheading-2">Amazing</div>
<div class="mat-subheading-1">Amazing</div>

<button mat-stroked-button>Hello</button>

<button mat-icon-button>Hello</button>
<button mat-fab>Hello</button>
<button mat-mini-fab>Hello</button>

<div>
  <button color="primary" mat-button>Amazing grace</button>
  <button color="accent" mat-button>Amazing grace</button>
  <button color="warn" disableRipple mat-button>Amazing grace</button>
  <button color="primary" mat-raised-button>Amazing grace</button>
  <button color="accent" mat-raised-button>Amazing grace</button>
  <button color="warn" mat-raised-button>Amazing grace</button>
</div>